<div class="trait-creator-container">
  <label>Ajoutez un nom</label>
  <input type="text" id="trait-name" class="text-input">
  <label>Ajoutez une description (optionnel)</label>
  <input type="text" id="trait-description" class="text-input">
  <label>Estimer un coût <span class="hover-text helpful" title="Généralement, on ajoute 1 point de coût par 1% de compétence ajouté">(?)</span></label>
  <input type="number" id="trait-cost" class="number-input">
  <label>List des effets</label>

  <a><button class="button-add-effect" title="Cliquez pour ajouter un effet">+</button></a>
</div>
